body, html {
    height: 100%;
}

.nav-wrapper {
    margin-bottom: 0px;
}

#toast-container {
    position: fixed !important;
    top: 40% !important;
    left: 0% !important;
}

.card {
    width: 90%;
    left: 5%;
    padding: 20px;
    margin-top: 20px;
}

#barRange {
    margin: 0 0 60px 0;
}

#priceRance {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.dollaBill {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: -3px;
}

#oneDollar {
    float: left;
}

#twoDollar {
    margin-left: 44%;
}

#threeDollar {
    float: right;
}

#barLabel {
    height: 60px;
    text-align: center;
    margin: 10px 0 0 0;
    padding: 0px 0px 15px 0px;
}

#priceLabel {
    height: 60px;
    text-align: center;
    margin: 10px 0 0 0;
    padding: 0px 0px 15px 0px;
}